streamlit==1.36.0
pandas>=2.0
numpy>=1.25
python-dateutil>=2.9
scipy>=1.11

duckdb>=1.0.0
pyarrow>=15.0.0

gdown>=5.2.0

tqdm>=4.66.0

requests>=2.32.0

pydrive2>=1.19.0

google-auth>=2.30.0

google-auth-oauthlib>=1.2.0
